.section-admin .view-selected-gii.hint-view-changer
{
    left: 41rem;
    top: 0.5rem;
}
.section-admin .view-selected-yii2.hint-view-changer
{
    left: 39rem;
    top: 0.5rem;
}
.section-admin .view-selected-self.hint-view-changer
{
    left: 46rem;
    top: 0.5rem;
}
/**Контейнер для Yii2 виджета нумерации страниц**/
.section-admin .pagination_users-table-admin-self .pagination
{
    margin: 0;
}
.section-admin .view-changer
{
    position: relative;
}
.section-admin .users-table-container
{
    display: inline-block;
    height: 40rem;
    margin-top: 2rem;
    overflow: auto;
}