.admin-user-create-window
{
    background-color: white;
    border-bottom: 0.2rem solid grey;
    border-left: 0.1rem solid grey;
    border-right: 0.2rem solid grey;
    border-top: 0.1rem solid grey;
    left: 50%;
    top: 50%;
    min-height: 32rem;
    min-width: 36rem;
    max-height: 64rem;
    max-width: 72rem;
    overflow: auto;
    padding: 2rem;
    position: absolute;
    transform: translate(-50%,-50%);
}
.admin-user-create-window__comments
{
    font-size: 1rem;
    margin-top: 3rem;
    /*TODO размер комментариев не должен ограничиваться*/
    max-width: 33rem;
}
.admin-user-create-window__create-button
{
    clear: both;
    padding-top: 2rem;
    text-align: right;
}
.admin-user-create-window__fields-container
{
    display: block;
    float: left;
}
.admin-user-create-window__field
{
    display: block;
    height: 3rem;
    margin: 1rem 0 0 2rem;
    min-width: 20rem;
}
.admin-user-create-window__head
{
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-align: center;
}
.admin-user-create-window__label
{
    display: block;
    height: 3rem;
    margin: 1rem 0 0 0;
    padding: 0.5rem 0 0 0;
}
.admin-user-create-window__labels-container
{
    display: block;
    float: left;
}
