.admin-user-create-window
{
    background-color: white;
    border-bottom: 0.2rem solid grey;
    border-left: 0.1rem solid grey;
    border-right: 0.2rem solid grey;
    border-top: 0.1rem solid grey;
    left: 50%;
    top: 50%;
    height: 32rem;
    width: 36rem;
    padding: 2rem;
    position: absolute;
    transform: translate(-50%,-50%);
}
.admin-user-create-window__comments
{
    font-size: 1rem;
    margin-top: 3rem;
}
.admin-user-create-window__create-button
{
    margin-top: 2rem;
    text-align: right;
}
.admin-user-create-window__label
{
    display: block;
}
.admin-user-create-window__label-container
{
    margin-top: 1rem;
}
.admin-user-create-window__field
{
    margin-left: 2rem;
}