.admin-user-edit-window
{
    background-color: white;
    border-bottom: 0.2rem solid grey;
    border-left: 0.1rem solid grey;
    border-right: 0.2rem solid grey;
    border-top: 0.1rem solid grey;
    left: 50%;
    top: 50%;
    min-height: 22rem;
    min-width: 36rem;
    max-height: 64rem;
    max-width: 72rem;
    overflow: auto;
    padding: 2rem;
    position: absolute;
    transform: translate(-50%,-50%);
}
.admin-user-edit-window__head-for-id
{
    font-weight: bold;
}
.admin-user-edit-window__fields-container
{
    display: block;
    float: left;
}
.admin-user-edit-window__field
{
    display: block;
    height: 3rem;
    margin: 1rem 0 0 2rem;
    min-width: 20rem;
}
.admin-user-edit-window__label
{
    display: block;
    height: 3rem;
    margin: 1rem 0 0 0;
    padding: 0.5rem 0 0 0;
}
.admin-user-edit-window__labels-container
{
    display: block;
    float: left;
}
.admin-user-edit-window__save-button
{
    clear: both;
    padding-top: 2rem;
    text-align: right;
}