.category-goods
{
    color: #000;
    height: 22rem;
    width: 20rem;
}
.category-goods__image-container
{
    height: 90%;
    position: relative;
    overflow: hidden;
}
.category-goods__image
{
    cursor: pointer;
    height: auto;
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.category-goods__image_vertical
{
    height: 100%;
    width: auto;
}
.category-goods__image-label
{
    cursor: pointer;
    font-family: "Comic Sans MS", "Monaco CY", cursive;
    height: 10%;
    text-align: center;
}
.category-goods__image-label:hover
{
    color: black;
    text-decoration: underline;
}