.goods-category
{
    cursor: pointer;
    height: 22rem;
    width: 20rem;
}
.goods-category__image-container
{
    height: 90%;
    position: relative;
    overflow: hidden;
}
.goods-category__image
{
    height: auto;
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.goods-category__image_vertical
{
    height: 100%;
    width: auto;
}
.goods-category__image-label
{
    font-family: "Comic Sans MS", "Monaco CY", cursive;
    height: 10%;
    text-align: center;
}