.project-message
{
    background-color: white;
    border-bottom: 0.2rem solid grey;
    border-left: 0.1rem solid grey;
    border-right: 0.2rem solid grey;
    border-top: 0.1rem solid grey;
    left: 50%;
    top: 50%;
    max-height: 60%;
    max-width: 60%;
    overflow: auto;
    padding: 2rem 3rem 2rem 2rem;
    position: absolute;
    transform: translate(-50%,-50%);
}
