/**Контейнер для Yii2 виджета нумерации страниц**/
.pagination_users-table-admin-self .pagination
{
    margin: 0;
}
.users-table-container
{
    display: inline-block;
    height: 40rem;
    margin-top: 2rem;
    overflow: auto;
}