.section-admin .hint-view-changer
{
    left: 45rem;
    top: 0;
}
/**Контейнер для Yii2 виджета нумерации страниц**/
.section-admin .pagination_users-table-admin-self .pagination
{
    margin: 0;
}
.section-admin .view-changer
{
    position: relative;
}
.section-admin .users-table-container
{
    display: inline-block;
    height: 40rem;
    margin-top: 2rem;
    overflow: auto;
}