/*Стили для страницы с описанием товара*/
.goods_page
{
    height: 42rem;
    width: 70rem;
}
.goods__buy-container
{
    float: left;
    height: 90%;
    width: 40%;
    position: relative;
    text-align: right;
}
.goods__buy-container-inner
{
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    width: 100%;
}
.goods__buy-button
{
    font-family: "Arial", sans-serif;
    font-size: 2rem;
    margin: 1rem 0 0 0;
}
.goods__image-container_page
{
    float: left;
    height: 90%;
    width: 60%;
}
.goods__name_page
{
    font-size: 2.5rem;
    clear: both;
}
.goods__name_page:hover
{
    text-decoration: none;
}
.goods__price_page
{
    font-size: 2.5rem;
    height: auto;
    text-align: right;
}